!.gitignore
.idea/*
.git/*
.DS_Store

build
installation.yaml
user.yaml
sync/*
user.txt
*.userdb/*

others
*.bak.dict.yaml
*.ignore.dict.yaml
*.ignore.dict2.yaml
*.yaml.yaml

.editorconfig
.stignore
.stfolder/*

.git_bak
bak